<div id="main">
    <h3>Next Actions </h3>
    <table width="100%" border="0" id="tarefas">
        <tr class="title">
            <td width="49%">Nome</td>
            <td width="22%">Projecto</td>
            <td width="29%">Data</td>
        </tr>
        <tr>
            <td><a href="#">Criar layout </a></td>
            <td>WeDesignIt Intranet </td>
            <td><span class="date">05-09-2007</span></td>
        </tr>
        <tr class="dif">
            <td><a href="#">Estilizar CSS </a></td>
            <td>WeDesignIt Intranet </td>
            <td><span class="date">10-09-2007</span></td>
        </tr>
        <tr>
            <td><a href="#">Reuni&atilde;o WeDesignIt </a></td>
            <td>WeDesignIt Intranet </td>
            <td><span class="date">18-09-2007</span></td>
        </tr>
        <tr class="dif">
            <td><a href="#">Forma&ccedil;&atilde;o Java </a></td>
            <td>Web Services </td>
            <td><span class="date">26-09-2007</span></td>
        </tr>
    </table>
    <h3>Pending Tasks </h3>
    <table width="100%" border="0" id="tarefas_pend">
        <tr class="title">
            <td width="24%">Nome</td>
            <td width="26%">Projecto</td>
            <td width="15%">Estado</td>
            <td width="14%">Tempo/h</td>
            <td width="21%">iniciada em </td>
        </tr>
        <tr>
            <td><a href="#">Criar layout </a></td>
            <td>WeDesignIt Intranet </td>
            <td>Dependente</td>
            <td ><span class="time">10</span></td>
            <td><span class="date">05-09-2007</span></td>
        </tr>
        <tr class="dif">
            <td><a href="#">Estilizar CSS </a></td>
            <td>WeDesignIt Intranet </td>
            <td>Iniciada</td>
            <td><span class="time">15</span></td>
            <td><span class="date">10-09-2007</span></td>
        </tr>
        <tr>
            <td><a href="#">Reuni&atilde;o WeDesignIt </a></td>
            <td>WeDesignIt Intranet </td>
            <td>Iniciada</td>
            <td><span class="time">80</span></td>
            <td><span class="date">18-09-2007</span></td>
        </tr>
        <tr class="dif">
            <td><a href="#">Forma&ccedil;&atilde;o Java </a></td>
            <td>Web Services </td>
            <td>Iniciada</td>
            <td><span class="time">60</span></td>
            <td><span class="date">26-09-2007</span></td>
        </tr>
    </table>

</div>