        <!-- footer starts here -->
        <div id="footer">
            <div id="footer-content">
                <div id="footer-left">
                    2008 Webdesign by
                    <strong>
                        <a href="http://wdesign-it.com"
                           target="blank">WEDESIGNIT</a>
                    </strong>
                    | Made With <strong>xhtml</strong>
                    and <strong>css</strong>
                    | Courtesy
                        <a href="http://www.openwebdesign.org"
                           target="_blank">Open Web Design</a>,
                    Thanks to
                       <a href="http://www.chinatours.com/"
                          target="_blank">China Tours Travel</a>
                </div>
            </div>
        </div>
        <!-- footer ends here -->