            <div id="sidebar" >

                <h3>Production</h3>
                <ul class="sidemenu">

                    <li><a href="#">In-basket</a></li>
                    <li><a href="{{listPath}}/actions/actions">Next Actions</a></li>
                    <li><a href="#">Waiting for</a></li>
                    <li><a href="{{listPath}}/projects/projects">Projects</a></li>
                    <li><a href="#">Some day, maybe</a></li>
                    <li><a href="#">Trash</a></li>
                    <li><a href="#">Done</a></li>
                </ul>

                <div id="profile"></div>
                <div id="account"></div>

                <!--h3>Internal Comunication</h3>
                <ul class="sidemenu">

                    <li><a href="mail">Mails</a></li>
                    <li><a href="messanger">Messanger</a></li>
                    <li><a href="contacts">Contact List</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>

                <h3>Marketing / Sales</h3>
                <ul class="sidemenu">

                    <li><a href="#">Opportunities</a></li>
                    <li><a href="#">Pipeline analysis</a></li>
                    <li><a href="#">Case Studies</a></li>
                    <li><a href="#">Memos</a></li>
                </ul>

                <h3>Human Resources</h3>
                <ul class="sidemenu">
                    <li><a href="#">Utilization</a></li>
                    <li><a href="#">Planing</a></li>
                    <li><a href="#">Vacations</a></li>
                    <li><a href="#">Personal Development</a></li>
                </ul-->

                <!--h3>Last Visited</h3>
                <div class="lastvisit">
                    <p ><a href="contacts.html" >Contacts</a></p>
                    <p><a href="tarefas.html">My Tasks </a></p>
                </div-->
            </div>
