            <div id="rightbar">

                <h3>Contexts</h3>
                <ul class="sidemenu">
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Private</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">New...</a></li>
                </ul>

                <!--h3>Contents</h3>
                <ul class="sidemenu">
                    <li><a href="#">Presentations
                        </a></li>
                    <li><a href="#">Pictures
                        </a></li>
                    <li><a href="#">Spreadsheets</a></li>
                </ul-->

                <h3>Business Charts</h3>
                <table width="100%" id="barometro">
                    <tr class="title">
                        <td colspan="2">top 12 measures</td>
                    </tr>
                    <tr>
                        <td>Sales</td>
                        <td>762.705</td>
                    </tr>
                    <tr  class="dif">
                        <td>Approved</td>
                        <td>230</td>
                    </tr>
                    <tr>
                        <td>Propositions</td>
                        <td>552</td>
                    </tr>
                    <tr class="dif">
                        <td>Ingreds</td>
                        <td>9.655</td>
                    </tr>
                    <tr >
                        <td >Success</td>
                        <td>41,67%</td>
                    </tr>
                    <tr class="dif">
                        <td>New Clients</td>
                        <td>7</td>
                    </tr>
                    <tr >
                        <td >New Bz. Clients</td>
                        <td >15.833</td>
                    </tr>
                    <tr class="dif" >
                        <td>New Clients Weight</td>
                        <td>2,08%</td>
                    </tr>
                </table>
            </div>
