<div id="sidebar">

    <h1>Contexts</h1>
    <div class="left-box">
        <ul class="sidemenu">
            <li><a href="#">Office</a></li>
            <li><a href="#">Private</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">New...</a></li>
        </ul>
    </div>

    <h1>Production</h1>
    <div class="left-box">
        <ul class="sidemenu">

            <li><a href="#">In-basket</a></li>
            <li><a href="{{listPath}}/actions/actions">Next Actions</a></li>
            <li><a href="#">Waiting for</a></li>
            <li><a href="{{listPath}}/projects/projects">Projects</a></li>
            <li><a href="#">Some day, maybe</a></li>
            <li><a href="#">Trash</a></li>
            <li><a href="#">Done</a></li>
        </ul>
   </div>
 
    <div id="profile"></div>
    <div id="account"></div>

    <!--
    <h1>Wise Words</h1>
    <div class="left-box">
        <p>&quot;To be concious that you are ignorant of the
					facts is a great step to knowledge&quot; </p>

        <p class="align-right">- Benjamin Disraeli</p>
    </div>
    -->

</div>
