<div id="menu">
    <ul>
        <li id="current"><a href="/cogito/_design/cogito/_list/nextActions">Next actions</a></li>
        <li><a href="/cogito/_design/cogito/_show/index">Waiting for...</a></li>
        <li><a href="/cogito/_design/cogito/_list/projects">Projects</a></li>
        <li><a href="/cogito/_design/cogito/_show/index">Some day, maybe</a></li>
        <li><a href="/cogito/_design/cogito/_show/index">Calendar</a></li>
        <li><a href="/cogito/_design/cogito/_show/index">Mails</a></li>
        <li><a href="/cogito/_design/cogito/_list/contacts">Contacts</a></li>
    </ul>
</div>
