<div id="menu">
    <ul>
        <li id="current"><a href="{{listPath}}/actions/actions">Next actions</a></li>
        <li><a href="{{showPath}}/intro">Waiting for...</a></li>
        <li><a href="{{listPath}}/projects/projects">Projects</a></li>
        <li><a href="{{showPath}}/intro">Some day, maybe</a></li>
        <li><a href="{{showPath}}/intro">Calendar</a></li>
        <li><a href="{{showPath}}/intro">Mails</a></li>
        <li><a href="{{listPath}}/contacts/contacts">Contacts</a></li>
    </ul>
    <div id="account"></div>
</div>
